# Environment files
**/.env
**/.env.local
**/.env.development
**/.env.production

# Node modules
**/node_modules/

# Build folders
**/dist/
**/build/

# Visual Studio
.vs/
bin/
obj/

# Secrets
smart-attendance-system-a3b97-firebase-adminsdk-fbsvc-157c5ab1f3.json
firebase-service-account.json

.expo/

__pycache__/
*.pyc